.QP-container {
  position: absolute;
  background-color: white;
  border-radius: 15px;
  top: 55px;
  left: 10px;
  width: 100%;
  color: black;
  border: 1px solid black;
}


.QP-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.QP-content > h4 {
  margin-top: 20px
}


.QP-images {
  height: 45px;
  width: 45px;
  margin-left: 3px;
  border-radius: 10px;
}

.QP-board-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  list-style: none;
  max-height: 200px; /* set a max height for the container */
  overflow-y: scroll; /* enable vertical scrolling */
}

.QP-board-container > h5 {
  margin-left: 10px;
}

.QP-board-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.QP-board-container > ul > li {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 220px;
}

.QP-board-container > ul > li:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.QP-board {
  display: flex;
  align-items: center;
  overflow: scroll;
}

.QP-board > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  font-size: 16px;
}
