.CP-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  margin-top: 10px;
  left: 6.5%;
  height: 60%;
  width: 10%;
}

.CP-create-link {
  text-decoration: none;
  padding-left: 10px;
  color: black;
  width: 100%;
}

.CP-create-link:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.hidden {
  visibility: hidden;
}
