.CP-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  margin-top: 10px;
  left: 6.5%;
  height: 70%;
  width: 10%;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1);
}

.CP-create-link {
  text-decoration: none;
  padding: 5px;
  color: black;
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
}

.CP-create-link:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.hidden {
  visibility: hidden;
}
