.PM-drop-menu {
  display: flex;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  margin-top: 22.2%;
  right: 1%;
  height: 15rem;
  width: 17%;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
}

.PM-menu-container {
  display: flex;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
}

.PM-profile-section {
  display: flex;
  text-decoration: none;
  color: black;
  background-color: rgb(233, 233, 233);
  padding: 7px;
  border-radius: 10px;
}

.PM-profile-section:hover {
  cursor: pointer;
  padding: 7px;
}

.PM-profile-icon {
  margin-top: 17.5px;
  padding: 0;
  margin: 0;
}

.PM-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
}

.PM-profile-picture:hover {
  cursor: pointer;
}

.PM-profile-picture-in-menu {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.PM-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.PM-username-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logout-button {
  position: absolute;
  bottom: 0;
  left: 5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logout-actual-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 45, 47);
  border: transparent;
  border-radius: 10px;
  height: 40px;
  width: 65px;
  color: white;
  user-select: none;
}

#logout-actual-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}
