.EB-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.EB-header>h2 {
  width: 90%;
}

.EB-header>i {
  right: 5%;
}

.EB-header>i:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
  border-radius: 2px;
}

.EB-form {
  margin-left: 30px;
}

.EB-text-area {
  resize: none;
  height: 70px;
}
