.EB-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.EB-header>h2 {
  width: 90%;
}

.EB-header>i {
  position: absolute;
  right: 10%;
}

.EB-form {
  margin-left: 30px;
}

.EB-text-area {
  resize: none;
  height: 70px;
}
