.NP-container {
  width: 55%;
  height: 78%;
  background-color: white;
  position: absolute;
  top: 52%;
  left: 50%;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.NP-create-pin-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NP-create-pin-top-section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 5%;
  width: 85%;
  color: rgb(95, 95, 95);
}

.NP-create-ellipsis {
  width: fit-content;
}

.NP-create-ellipsis:hover {
  cursor: pointer;
}

.NP-save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 45, 47);
  border-radius: 10px;
  height: 40px;
  width: 65px;
  color: white;
}

.NP-save-button:hover {
  cursor: pointer;
}

.NP-create-pin-middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  width: 85%;
}

.NP-create-pin-left-side {
  width: 40%;
  margin-right: 10px;
}

.NP-create-pin-right-side {
  width: 60%;
  margin-left: 10px;
}

.NP-title-field {
  background-color: transparent;
  border: transparent;
  text-decoration: none;
  width: fill;
  /* height: 40px; */
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.NP-title-field:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(29, 117, 224);
}

.NP-description-field {
  background-color: transparent;
  border: transparent;
  text-decoration: none;
  margin-top: 50px;
  width: fill;
  font-size: 14px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid rgb(203, 203, 203) ;

}

.NP-description-field:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(29, 117, 224);
}
