.NV-navbar-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 10px;
}

.NV-home-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 4, 81);
  font-weight: bold;
  margin-top: 4px;
  margin-left: 10px;
  font-size: 18px;
}

#home-icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}


.profile-dropdown {
  position: absolute;
  right: 5px;
}

.hidden {
  display: none;
}

.SP-main-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 27px;
  transform: translate(-50%, -50%);
}

.SP-main-text > h1 {
  margin-bottom: 2px;
  margin-top: 1px;
}
