.SP-container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.SP-pin-container {
  background-color: white;
  border-radius: 35px;
  display: flex;
  margin-top: 10px;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1);
  margin-right: 0;
  padding-right: 0;
}


.SP-pin-container img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 20rem;
}

.SP-pin-info {
  display: flex;
  margin-left: 30px;
  margin-right: 20px;
  align-items: left;
  flex-direction: column;
  width: 20rem;
}

.SP-pin-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.fa-ellipsis {
  cursor: pointer;
}

.SP-top-right-section {
  display: flex;
  align-items: center;
}

.SP-save-button {
  margin-left: 10px;
}

.SP-profile-drop-menu-div {
  user-select: none;
}

.SP-profile-drop-menu-div:hover {
  cursor: pointer;
}

.SP-saved-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  height: 40px;
  width: 65px;
  color: white;
  user-select: none;
}

.SP-profile-pin-section {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

#SP-profile-pin-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
}
