.DP-Modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.DP-cancel-delete-buttons {
  display: flex;
  margin-top: 7%;
  margin-bottom: 3%;
}

#DP-cancel-button {
  background-color: rgb(239, 239, 239);
  border: transparent;
  border-radius: 20px;
  height: 40px;
  width: 4rem;
  margin-right: 10px;
  font-size: 15px;
}

#DP-cancel-button:hover {
  cursor: pointer;
}

#DP-delete-button {
  background-color: rgb(216, 45, 47);
  border: transparent;
  border-radius: 20px;
  width: 4rem;
  color: white;
  font-size: 15px;
}

#DP-delete-button:hover {
  cursor: pointer;
}
