.BR-pins-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 20px 50px;
}


.BR-images-box {
  margin-right: 10px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1370px) {
  .BR-pins-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 40px;
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 925px) {
  .BR-pins-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 40px;
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 720px) {
  .BR-pins-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 40px;
    grid-gap: 10px;
  }
}

.BR-images-box {
  height: auto;
}


.BR-NavLink {
  height: fit-content;
  width: fit-content;
}

.BR-pin-images {
  height: fit-content;
  width: 300px;
  border-radius: 15px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.5);
}

.BR-pin-images:hover {
  opacity: .7;
}
