.BR-pins-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 20px 50px; */
  width: 87%;
  column-count: 5;
  margin-left: 5.2em;
}




@media only screen and (max-width: 1370px) {
  .BR-pins-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 40px;
    grid-gap: 10px; */
    width: 87%;
    column-count: 4;
    margin-left: 5.2em;
  }
}

@media only screen and (max-width: 1110px) {
  .BR-pins-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 40px;
    grid-gap: 10px; */
    width: 87%;
    column-count: 3;
    margin-left: 5.2em;
  }
}

@media only screen and (max-width: 850px) {
  .BR-pins-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 40px;
    grid-gap: 10px; */
    width: 90%;
    column-count: 2;
    margin-left: 3.2em;
  }
}

.BR-images-box {
  /* CAN USE THIS FOR ALL PINS? */
  /* height: 100px; */
}

#BR-pin-images {
  width: 240px;
  padding: 0;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.5);
}

#BR-pin-images:hover {
  opacity: .7;
}
