.SB-title-ellipsis {
  display: flex;
  justify-content: center;
}

.SB-profile-picture-container {
  display: flex;
  justify-content: center;
}

.SB-profile-user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(95, 95, 95);
}


.PP-board-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SP-pins-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 42px;
}

.SP-board-pins-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 150px;
  width: 80%;
}

.PP-edit-board {
  position: absolute;
  background-color: red;
  right: 2%;
}





.SP-board-container {
  position: relative;
}



.SB-ellipsis {
  position: absolute;
  right: 30px;
  top: 15px;
  /* z-index: 100; */
  padding: 20px 10px;
  border-radius: 50px;
  background-color: rgb(233, 233, 233);
  opacity: .6;
  color: black;
}

.SB-ellipsis:hover {
  opacity: 1;
}


.SB-board-images {
  /* position: relative; */
}

.SB-board-images:hover {
  opacity: .8;
}

/* .SP-board-container {

} */
